<ion-header style="margin-top: 5%;">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="returnToSettings()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Modifier Mot de Passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card shadow-lg border-0 rounded-5">
          <div class="card-body p-4 p-md-5">
            <!-- Success and Error Messages -->
            <div *ngIf="successMessage" class="alert alert-success mb-4 rounded-4 shadow-sm" role="alert">
              {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger mb-4 rounded-4 shadow-sm" role="alert">
              {{ errorMessage }}
            </div>

            <!-- Form -->
            <form (ngSubmit)="changePassword()">
              <div class="mb-4">
                <label for="login" class="form-label">Login</label>
                <input type="text" id="login" class="form-control rounded-pill border-primary shadow-lg" [(ngModel)]="login" name="login" required>
              </div>
              <div class="mb-4 position-relative">
                <label for="oldPassword" class="form-label">Ancien Mot de Passe</label>
                <input [type]="showOldPassword ? 'text' : 'password'" id="oldPassword" class="form-control rounded-pill border-primary shadow-lg" [(ngModel)]="oldPassword" name="oldPassword" required>
                <ion-button fill="clear" class="position-absolute top-50 end-0 translate-middle-y me-2" (click)="toggleShowOldPassword()">
                  <ion-icon [name]="showOldPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </ion-button>
              </div>
              <div class="mb-4 position-relative">
                <label for="newPassword" class="form-label">Nouveau Mot de Passe</label>
                <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" class="form-control rounded-pill border-primary shadow-lg" [(ngModel)]="newPassword" name="newPassword" required>
                <ion-button fill="clear" class="position-absolute top-50 end-0 translate-middle-y me-2" (click)="toggleShowNewPassword()">
                  <ion-icon [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </ion-button>
              </div>
              <div class="mb-4 position-relative">
                <label for="confirmPassword" class="form-label">Confirmer Mot de Passe</label>
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword" class="form-control rounded-pill border-primary shadow-lg" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                <ion-button fill="clear" class="position-absolute top-50 end-0 translate-middle-y me-2" (click)="toggleShowConfirmPassword()">
                  <ion-icon [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
                </ion-button>
              </div>
              <div class="d-grid gap-2 mt-4">
                <ion-button type="submit" expand="full" color="primary" class="rounded-pill shadow-lg">Changer Mot De Passe</ion-button>
                <ion-button type="button" expand="full" color="medium" class="rounded-pill shadow-lg" (click)="returnToSettings()">Retoune Au Paramétre</ion-button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>