<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-light text-center">
          <button class="btn btn-link float-left" (click)="returnToDrawer()">
            <i class="bi bi-arrow-left"></i>
          </button>
          <h2 class="card-title m-0">Paramétre</h2>
        </div>
        <div class="card-body text-center">
          <div class="mb-4">
            <button class="btn btn-primary btn-block btn-lg" (click)="onChangePassword()">
              change mot de passe
            </button>
          </div>
          <div class="mb-4">
            <button class="btn btn-primary btn-block btn-lg" (click)="onChangeHotel()">
              change Hotel
            </button>
          </div>
          <div>
            <button class="btn btn-secondary btn-block btn-lg" (click)="onChangeEmail()">
              Retourne à Drawer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>